

VITE_SITE_LOGO=https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/WCPSS_Logo.svg/250px-WCPSS_Logo.svg.png
VITE_SITE_NAME=Data Collection Portal
VITE_SITE_MESSAGE=This site is currently in development. Check back soon!
VITE_BACKGROUND_IMAGE=/coming-soon-bg.svg
